# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Cache
.cache/

# Streamlit
.streamlit/secrets.toml